/* =============================================================================
================================================================================

	--------- Reboot CSS ---------

	Carefully Crafted by :: Thomas Dale of D Taled Designs

	© Copyright D Taled Designs Ltd. 2018. All rights reserved.

 =============================================================================
 ============================================================================= */

/* =============================================================================
   css reboot and html5 fixes
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: none; font-size: 100%; font: inherit; outline: none; }

html { -ms-font-feature-settings: inherit; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; font-size: 62.5%; margin: 0; min-height: 100%; overflow-y: scroll; padding: 0; width: 100%; }

/* clearfix */
.cf { zoom: 1; }
.cf:after,
.cf:before { content: ""; display: table; width: 100%; }

/*---- form elements ----*/
[hidden] { display: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: none; padding: 0; }
button,
input,
optgroup,
textarea,
select { font-family: inherit; font-size: inherit; font-weight: inherit; margin: 0; }
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled],
html input[disabled] { cursor: default; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0px 0.75em; }
input,
textarea { outline: none; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="submit"]::-moz-focus-inner,
input[type="checkbox"]::-moz-focus-inner { border: none; outline: none; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; -moz-resize: none; -webkit-resize: none; resize: none; vertical-align: top; }

/*---- html5 display-role reset for older browsers ----*/
article,
aside, 
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
audio, 
canvas, 
video { display: inline-block; *display: inline; *zoom: 1; }
summary { display: list-item; }
template { display: none; }

/* page level */
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
b,
strong { font-weight: 700; }
abbr[title] { border-bottom: 1px solid; }
audio:not([controls]) { display: none; height: 0; }
blockquote, 
q { quotes: none; }
blockquote:before, 
blockquote:after, 
q:before, 
q:after { content: ""; content: none; }
code,
kbd,
pre,
samp { font-family: monospace, serif; font-size: 1em; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
img { border-style: none; }
mark { background: #ff0000; color: #000000; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub,
sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
svg:not(:root) { overflow: hidden; }
table { border-collapse: collapse; border-spacing: 0; }

/* unordered lists */
ul { list-style: none; }
